@keyframes fadeInUp {
    0% {
        transform: translateY(30%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.signin-card {
    animation: 1s fadeInUp;
}